.title {
	-fx-font-weight: bold;
}

.background {
    -fx-background-color: #4CAF50;
}

.tab {
	-fx-background-insets: 0 1 0 1,0,0;
	-fx-background-color: #F1F1F1;
}

.tab-pane  {
    -fx-background-color: #F1F1F1;
}

.tab-label {
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected {
    -fx-background-color: #4CAF50;
}

.tab:selected .tab-label {
    -fx-text-fill: black;
}

#button_quitter {
	-fx-background-color: red;
}

#button_quitter:hover {
	-fx-background-color: red;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Lucida Console";
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: none;
    -fx-border-width: 0;
    -fx-background-radius: 3;
    -fx-background-color: #4CAF50;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: black;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
	-fx-cursor: none;
    -fx-background-color: #1E90FF;
}

.button:pressed {
  -fx-background-color: #1E90FF;
}

.button:focused {
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}